@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&display=swap");

* {
  font-family: "Fira Sans", sans-serif;
}
.home-main {
  display: grid;
  grid-template-columns: 20% 80%;
}
body {
  background-color: #121212;
  color: white;
}

.user-section {
  padding: 20px;
  grid-column-start: 1;
  background-color: #191919;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
}

.mainMessageSection {
  grid-column-start: 2;
  display: flex;
}

.friendList {
  padding-top: 10px;
}

.friend {
  padding: 10px;
}

.logout {
  position: absolute;
  color: white;
  font-weight: bolder;
  right: 0;
  font-size: 120%;
}

.navBox {
  z-index: 1000;
  position: absolute;
}
@media only screen and (max-width: 1100px) {
  .user-section {
    position: unset;
  }
  .navBox {
    position: fixed;
    bottom: 0;
  }
}
