.startMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startMain h2 {
  font-size: 300%;
  font-weight: bolder;
}

.startMain h3 {
  font-size: 150%;
  margin: 5px 25px;
}

.startTop {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100%;
  height: 300px;
}

.signInSection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  align-items: center;
  flex-direction: column;
}

.signInSection h3 {
  font-size: 180%;
}
.startLinks {
  display: flex;
  width: 100%;
  justify-content: center;
}
.linkBtn {
  text-align: center;
  font-size: 130%;
  color: white;
  background-color: rgb(58, 1, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 1.5rem;
  margin: 10px;
}

.startLogin {
  background-color: #eee;
  color: black;
}
.startSignup {
  background-color: #222;
}

.linkBtn:hover {
  background-color: rgb(92, 0, 92);
}
