.startMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.startMain h2 {
  font-size: 300%;
  font-weight: bolder;
  color: black;
  font-family: "Libre Baskerville", serif;
}

.startMain h3 {
  font-size: 150%;
  margin: 5px 25px;
}

.startTop {
  color: rgb(13, 160, 197);
  font-size: 250%;
  margin: 10px;
  text-decoration: none;
  width: 100%;
  height: 300px;
}
.wave-con {
  position: relative;
  width: 100%;
  z-index: -1;
}
.wave-con p {
  margin: 10px;
  font-size: 200%;
  font-family: "Caveat", cursive;
}
.waveHomeImage {
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
}
.homeTitle {
  font-size: 400%;
  margin: 10px;
  font-family: "Caveat", cursive;
}

.linkBtn {
  text-align: center;
  font-size: 130%;
  color: black;
  background-color: white;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 1.5rem;
  margin: 10px;
  font-weight: bolder;
  max-width: 300px;
  z-index: 100;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signupBtn {
  background-color: #121212;
  color: white;
}

.linkBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.startShowcase {
  width: 100%;
}
.svgIcon {
  transform: scale(10);
}

.homeLinks {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .startMain {
    height: 95%;
  }
}
